#div-principal {
  margin-top: 4rem;
  color: white !important;
}

.icon-color {
  color: white !important;
}

.edit-color {
  color: skyblue !important;
}

.tarjeta-principal {
  margin-top: 4rem;
}

th {
  font-size: large;
}

#centerDiv {
  margin-top: 4rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0;
  align-items: center;
  justify-content: space-around;
  display: flex;
  float: none;
}

